.file-item {
    list-style-type: none;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-container,
.file-container,
.image-container {
    text-align: center;
    margin: 10px 0;
}

.description {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.description.center {
    text-align: center;
    /* Для короткого описания */
}

.description.left {
    text-align: left;
    /* Для длинного описания */
}

.delete-button {
    margin-left: 10px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.delete-button:hover {
    text-decoration: underline;
}

.file-name {
    font-size: 1.5em; /* Крупный шрифт для названия */
    text-align: center; /* Центрируем текст */
    margin: 0; /* Убираем отступы */
}
.download-button {
    align-self: flex-end; /* Выравнивание кнопки справа */
    padding: 10px 15px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Отступ сверху для кнопки */
}
.download-button:hover{
    background-color: #0056b3;
}

/* Отзывчивость */
@media (max-width: 600px) {
    .file-item {
        padding: 15px;
        /* Увеличиваем отступы на мобильных */
    }

    .description {
        font-size: 12px;
        /* Уменьшаем размер шрифта для мобильных */
    }

    iframe {
        width: 100%;
        /* Ширина видео подстраивается под экран */
        height: auto;
        /* Высота автоматически подстраивается */
    }

    img {
        width: 100%;
        /* Изображения занимают всю ширину */
        height: auto;
        /* Высота автоматически подстраивается */
    }

    .delete-button {
        font-size: 14px;
        /* Увеличиваем размер шрифта кнопки на мобильных */
    }
}

/* Стили для больших экранов */
@media (min-width: 601px) {
    iframe {
        width: 840px;
        /* Фиксированная ширина для компьютеров */
        height: 630px;
        /* Фиксированная высота для компьютеров */
    }

    img {
        width: auto;
        /* Автоматическая ширина для изображений */
        max-width: 100%;
        /* Ограничиваем максимальную ширину */
        height: auto;
        /* Высота автоматически подстраивается */
    }

    .description {
        font-size: 14px;
        /* Стандартный размер шрифта для компьютеров */
    }
}
